:host([theme~="no-border-dialog"]) [part="overlay"] [part="content"] {
	padding: 0;
}

:host([theme~="no-border-dialog"]) [part="overlay"] {
	border-radius: 0;
	border: 2px solid var(--lumo-primary-color);
}