<?xml version="1.0" encoding="UTF-8"?>

<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<resource-ref>
		<res-ref-name>jdbc/MySQLDB</res-ref-name>
		<res-type>com.mysql.jdbc.jdbc2.optional.MysqlConnectionPoolDataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
	
	<resource-ref>
		<res-ref-name>SynologyDS</res-ref-name>
		<res-type>es.magDevs.myRecipes.dal.bl.SynologyDataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

</web-app>
